#root,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.notFound {
  background-image: url('src/assets/6325254.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
